@import "tailwindcss";

@font-face {
  font-family: "MyFont";
  src: url("/fonts/myfont.woff2") format("woff2"),
    url("/fonts/myfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MyFont";
  src: url("/fonts/myfontmd.woff2") format("woff2"),
    url("/fonts/myfontmd.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-text-primary: hsl(210, 10%, 27%);
  --color-background-primary: hsl(60, 33%, 97%);
  --color-background-secondary: hsl(220, 14%, 85%);
  --color-accent-primary: hsl(213, 94%, 80%);
  --color-accent-secondary: hsl(256, 96%, 85%);
  --color-accent-tertiary: hsl(156, 72%, 82%);
  --color-accent-primary-hover: hsl(210, 100%, 60%);
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "MyFont", sans-serif;
  outline: 0;
  /* outline: 1px solid #000; */
}

h1{
  font-weight: 500;
}

@keyframes wiggle {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(2px);
  }
}

.animate-wiggle {
  animation: wiggle 1.2s ease-in-out infinite;
  will-change: transform;
  transform: translateZ(0);
}
